<ion-header>
  <ion-toolbar>
    <ion-title>

    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Modal Content
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ data }}
    </ion-card-content>
  </ion-card>
</ion-content>
