<ion-header>
  <ion-toolbar>
    <ion-title>Welcome KAMIYADO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>あなたの教会名を教えてくだい</ion-title>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input type="text" placeholder="教会を選んでください"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" placeholder="Enter your email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" placeholder="Enter your password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full">Register</ion-button>
</ion-content>
