<ion-header>
  <ion-toolbar>
    <ion-title>予約編集・変更</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
  <!-- <form [formGroup]="form" (ngSubmit)="saveForm()"> -->
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-label>宿泊人数</ion-label>
          <ion-input type="number" formControlName="宿泊人数"></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-label>利用人数</ion-label>
          <ion-input type="number" formControlName="利用人数"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-label>24日</ion-label>
          <ion-input label="朝食" type="number" formControlName="朝食24日"></ion-input>
          <ion-input label="昼食" type="number" formControlName="昼食24日"></ion-input>
          <ion-input label="夕食" type="number" formControlName="夕食24日"></ion-input>
          <ion-input label="宿泊人数" type="number" formControlName="宿泊人数24日"></ion-input>
        </ion-col>
        <ion-col size="4">
          <ion-label>25日</ion-label>
          <ion-input label="朝食" type="number" formControlName="朝食25日"></ion-input>
          <ion-input label="昼食" type="number" formControlName="昼食25日"></ion-input>
          <ion-input label="夕食" type="number" formControlName="夕食25日"></ion-input>
          <ion-input label="宿泊人数" type="number" formControlName="宿泊人数25日"></ion-input>
        </ion-col>
        <ion-col size="4">
          <ion-label>26日</ion-label>
          <ion-input label="朝食" type="number" formControlName="朝食26日"></ion-input>
          <ion-input label="昼食" type="number" formControlName="昼食26日"></ion-input>
          <ion-input label="夕食" type="number" formControlName="夕食26日"></ion-input>
          <ion-input label="宿泊人数" type="number" formControlName="宿泊人数26日"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-label>チェックイン</ion-label>
          <select formControlName="チェックイン日">
            <option *ngFor="let date of checkInDates" [value]="date.toISOString()">{{ date | date:'MM/dd' }}</option>
          </select>
          <input type="time" formControlName="チェックイン時間">
        </ion-col>
        <ion-col size="6">
          <ion-label>チェックアウト</ion-label>
          <select formControlName="チェックアウト日">
            <option *ngFor="let date of checkOutDates" [value]="date.toISOString()">{{ date | date:'MM/dd' }}</option>
          </select>
          <input type="time" formControlName="チェックアウト時間">
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!-- <button (click)="saveForm()">保存</button> -->
</ion-content>

