<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>いつもの予約</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background" style="background-image: url('../../assets/kamiyado背景.jpg');">
    <ion-content [fullscreen]="true" class="content">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
      </ion-header>

      <div id="container">
        <div class="button-container">
          <!-- 3つのボタンを設置 -->
          <ion-button (click)="onButtonClick('reservation1')">Reservation 1</ion-button>
          <ion-button (click)="onButtonClick('reservation2')">Reservation 2</ion-button>
          <ion-button (click)="onButtonClick('reservation3')">Reservation 3</ion-button>

        </div>
      </div>
    </ion-content>
  </div>

</ion-content>
