<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>いつもの予約</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background" style="background-image: url('../../assets/kamiyado背景.jpg');">
    <ion-content [fullscreen]="true" class="content">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
      </ion-header>

      <div id="container">
        <div class="button-container">
          <button class="custom-button" (click)="openModal()">予約1</button>
          <button class="custom-button">予約2</button>
          <button class="custom-button">予約3</button>
        </div>
      </div>
    </ion-content>
  </div>

</ion-content>
